body{
  ackground-color: rgb(24, 24, 34);
  float: left;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.container{
  position: absolute;
  top: 10vh;
  height: 100%;
  padding-bottom: 20vh;
}
.container-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.grid{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 20px;
justify-content: center;
align-items: center;
}

#cart-image{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.view{
  background-color: black;
  position: fixed;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 1000px;
}
