body{
  ackground-color: rgb(24, 24, 34);
  float: left;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.nav{
  background-color:  rgb(24, 24, 34);;
  width: 100vw;
  height: 70px;
  /**position: ;
  top: 0;**/
}
.nav-content-container{
  background-color: none;
  /**max-width: 1100px;**/
  margin: auto;
  overflow: auto;
  color: whitesmoke;
  height: 100%;
}
.nav-display{
  background-color: none;
  width: 25%;
}
.nav-link{
  cursor: pointer;
  width: 50%;
  list-style: none;
}
.nav-link li:hover{
  border-bottom: 2px aliceblue solid;
}
.nav-search{
  width: 25%;
  background-color: rgb(30, 68, 30);
}
.nav-search input{
  height: 40%;
  font-size: 4vh, 3vw;
  text-align: center;
  border-radius: 5px;
}
.nav-search button{
  height: 30%;
  width: 30%;
  color: aliceblue;
  background-color: rgb(106, 190, 106);
  font-size: 5vh, 3vw;
  border-radius: 5px;
}
.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.container{
  ackground-color: maroon;
  height: 100%;
  width: 100vw;
  padding: 2vw;
  margin-top: 200px;
  margin-bottom: 100px;
  padding-bottom: 10vh;
}
.container-flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.grid{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 20px;
justify-content: center;
align-items: center;
}
.products{
  background-color: whitesmoke;
  height: 310px;
  width: 300px;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}
.products:hover{
  height: 320px;
  background-color: white;
  transform: scale(1);
}
.image-container{
  width: 90%;
  height: 60%;
}
#image{
  height: 90%;
  width: 100%;
  border-radius: 10px;
  margin-top: 10%;
}
.item-container{
  position: relative;
  height: 40%;
  width: 90%;
}
.title{
  position: absolute;
  height: 30px;
  width: 100%;
  
  bottom: 70px;
  
}
.title p{
  padding: 0;
  text-align: center;
  font-size: 15px;
}
.price{
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding-top: 5px;
}
.price p{
  background-color: rosybrown;
  text-align: center;
  font-size: 3.5vh;
  font-weight: bolder;
  float: left;
  margin-left: 20px;

}
.btn{
  border-radius: 3px;
  background-color: lightblue;
  color: navy;
  float: right;
  margin-right: 20px;
  height: 23px;
  padding: 2px;
}
.view{
  background-color: black;
  position: fixed;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 1000px;
}
.cart-container{
  background-color: maroon;
  height: fit-content;
  width: 100vw;
  padding: 2vw;
  margin-top: 200px;
  margin-bottom: 100px;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.cart-image-container{
  width: 40%;
}
.other-container{
  width: 60%;
}
.cart{
  background-color: seagreen;
}
.total-price{
  background-color: slategray;
  padding: 20px;
}
