body{
  background-color: gray;
}
#root{
  position: relative;
  width: 100%;
  background-color: none;
  height: fit-content;
  text-align: center;
}
*{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.grid{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 20px;
justify-content: center;
align-items: center;
}

#cart-image{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.modal-styles {
    position: fixed;
    top: 15%;
    left: 0;
    z-index: 1000;
    background-color: lightblue;
    height: 70px;
    width: 80%;
    text-align: center;
    line-height: 70px;
    transition: 500ms;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-style: italic;
    font-family: sans-serif;
    font-size: larger;
}
.modal-close{
  position: fixed;
  top: 15%;
  left: -100vw;
  z-index: 1000;
  background-color: lightblue;
  height: 70px;
  width: 80%;
  text-align: center;
  line-height: 70px;
  transition: 500ms;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-style: italic;
  font-family: sans-serif;
}
.hero{
  height: 500px;
  font-family: cursive;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hero::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../images/sunlight\ road.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.3;
}
.hero-container{
  position: relative;
}
.hero-container h1{
  color: whitesmoke;
  font-size: 4rem;
}
.hero-container p{
  color: aquamarine;
  font-size: 1.5rem;
}
.footer{
  background-color: rgb(24, 24, 34);
  width: 100%;
  color: whitesmoke;
  font-size: 0.6rem 1.3rem;
  font-style: oblique;
  padding: 3rem;
  height: fit-content;
}
.footer div{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}


@media(max-width: 700px) {
  .modal-styles{
    font-size: 1rem;
    width: 90%;
  }
  .modal-close{
    font-size: 1rem;
  }
}
@media(max-width: 400px) {
  .modal-styles{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    width: 100%;
  }
  .modal-close{
    font-size: 12px;
  }
  .footer div{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-container h1{
    
    font-size: 2.5rem;
  }
  .hero-container p{
    font-size: 1rem;
  }
}

