body{
  background-color: rgb(24, 24, 34);
  float: left;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.nav{
  background-color: tomato;
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
}
.nav-content-container{
  background-color: teal;
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  color: whitesmoke;
  height: 100%;
}
.nav-display{
  background-color: rgb(30, 211, 211);
  width: 25%;
}
.nav-link{
  cursor: pointer;
  width: 50%;
  list-style: none;
}
.nav-link li:hover{
  border-bottom: 2px aliceblue solid;
}
.nav-search{
  width: 25%;
  background-color: rgb(30, 68, 30);
}
.nav-search input{
  height: 40%;
  font-size: 4vh, 3vw;
  text-align: center;
  border-radius: 5px;
}
.nav-search button{
  height: 30%;
  width: 30%;
  color: aliceblue;
  background-color: rgb(106, 190, 106);
  font-size: 5vh, 3vw;
  border-radius: 5px;
}
.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.container{
  background-color: maroon;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 100px;
  padding-bottom: 10vh;
}
.grid{

}
.products{
  background-color: white;
  height: 310px;
  width: 300px;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products:hover{
  height: 320px;
}
.image-container{
  width: 90%;
  height: 60%;
}
#image{
  height: 90%;
  width: 100%;
  border-radius: 10px;
  margin-top: 10%;
}
.item-container{
  position: relative;
  height: 40%;
  width: 90%;
}
.title{
  position: absolute;
  height: 30px;
  width: 100%;
  
  bottom: 70px;
  
}
.title p{
  padding: 0;
  text-align: center;
}
.price{
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.price p{
  text-align: center;
  font-size: 3.5vh;
  font-weight: bolder;

}
